@import '../../styles/variables.css';

.nav button {
  font-size: 1rem;
  max-width: 100px;
  min-width: 50px;
  max-width: 50px;
  margin: 0 5px;
  min-height: 40px;
}

.main-nav button {
  margin: 0;
}

.nav {
  display: flex;
}

.nav span {
  padding: 0;
}

div.menu,
div.paper {
  top: 75px;
  max-width: 200px;
  outline: none;
}

div.paper {
  background-color: var(--color-primary-light);
}

.tab span {
  color: var(--color-primary-light);
}

.selected span {
  color: var(--color-primary-main);
}
