@import '../../styles/variables.css';

.timer-locator {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 20px;
  height: 100%;
  display: flex;
}

.key {
  color: var(--color-primary-grey);
  font-weight: 100;
  border-right: 1px dashed var(--color-primary-grey);
  padding-top: 5px;
}

.value {
  font-weight: bold;
  border-right: 1px dashed var(--color-primary-light);
  padding-bottom: 5px;
  color: var(--color-primary-contrastText);
}
