@import '../../styles/variables.css';

.timer-locator {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 20px;
  height: 100%;
  display: flex;
}

.key {
  color: var(--color-primary-grey);
  font-weight: 100;
  border-right: 1px dashed var(--color-primary-grey);
  padding-top: 5px;
}

.value {
  font-weight: bold;
  border-right: 1px dashed var(--color-primary-light);
  padding-bottom: 5px;
  color: var(--color-primary-contrastText);
}

.input input,
.signature [role='button'] {
  color: var(--color-primary-contrastText);
  font-size: 1.4rem;
  padding: 0;
  text-align: center;
  line-height: 1.1875em;
  min-height: unset;
}

.signature svg {
  display: none;
}

div.input {
  margin-left: 10px;
}

div.signature {
  margin-left: 0;
}

div.input *::after,
div.input *::before,
div.signature *::after,
div.signature *::before {
  content: none;
}
