.project-name {
  font-size: 1.4rem;
  width: 100%;
  font-weight: 300;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-name span {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
}

.name {
  margin-left: 10px;
}
