@import './styles/variables.css';

.interface {
  background-color: var(--color-light);
  width: 100%;
  height: 100%;
}

.header {
  margin-bottom: 75px;
}

div.view {
  margin-top: 75px;
  background-color: #cfcfcf;
  height: 100%;
  color: #e1e1e1;
  align-content: baseline;
  box-shadow: 0 7px 9px -7px inset #888;
}
