@import './styles/variables.css';

.interface {
  background-color: var(--color-light);
  width: 100%;
  height: 100%;
}

.header {
  margin-bottom: 75px;
}

div.view {
  margin-top: 65px;
  background-color: #cfcfcf;
  height: 100%;
}
