@import './styles/variables.css';

.interface {
  background-color: var(--color-light);
  width: 100%;
  height: 100%;
}

.header {
  margin-bottom: 75px;
}

div.view {
  margin-top: 74px;
  background-color: var(--color-primary-light);
  height: 100%;
  color: var(--color-primary-light-grey);
  align-content: baseline;
}
