@import '../../styles/variables.css';

.sidebar {
  height: 100%;
  padding: 0 !important;
  background-color: var(--color-primary-dark-grey);
}

div.grid {
  padding: 0 !important;
  background-color: var(--color-primary-light-grey);
  overflow-x: scroll;
}

.arrangementView {
  top: 154px !important;
  transform-origin: left;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-attachment: local !important;
  background-size: cover;
  background-position: center;
}

.markers {
  height: 20px;
  background-color: var(--color-primary-dark-grey);
}
