@import '../../styles/variables.css';

.sidebar {
  height: 100%;
  background-color: var(--color-primary-dark-grey);
}

div.grid {
  padding: 0 !important;
}

.arrangementView {
  top: 154px !important;
  background: repeating-linear-gradient(
    90deg,
    var(--color-primary-light-grey),
    var(--color-primary-light-grey) 10px,
    var(--color-primary-dark-grey) 10px,
    var(--color-primary-light-grey) 11px,
    var(--color-primary-light-grey) 30px
  );
}

.markers {
  height: 10px;
  background-color: var(--color-primary-dark-grey);
}
