@import '../../styles/variables.css';

p.name {
  position: absolute;
  bottom: 0;
  left: 15px;
  font-size: 1.2rem;
  color: var(--color-primary-contrastText);
  font-weight: bold;
}

.select {
  width: 10px;
  height: 100%;
  background-color: var(--color-primary-light);
  cursor: pointer;
}

.select.active {
  background-color: var(--color-primary-main);
}

.drag {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.resize {
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: var(--color-primary-light);
  transform-origin: bottom left;
}

div.resizable-div-right {
  border-left: 3px double var(--color-primary-light);
  height: 100% !important;
  background: var(--color-primary-light-grey);
  z-index: 1;
  position: absolute !important;
  top: 0;
  right: 0;
}

div.resizable-div-left {
  border-right: 3px double var(--color-primary-light);
  height: 100% !important;
  background: var(--color-primary-light-grey);
  z-index: 1;
  position: absolute !important;
}
