.header {
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
}

.transportBar {
  display: inline-block;
}

.mainNavigation {
  display: inline-block;
  margin-right: 20px;
}
