@import '../../styles/variables.css';

.group {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
}

.group button {
  width: 30px;
  min-width: 30px;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

.icon span {
  font-size: 2rem;
}

.group button.record {
  color: red;
}
