@import '../../styles/variables.css';

.group {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
}

.group button {
  width: 50px;
  min-width: 50px;
  margin: 0 5px;
  padding: 0;
  background-color: #cfcfcf;
  color: #f5f5f5;
}

.icon span {
  font-size: 3rem;
}

.group button.record {
  background-color: #cfcfcf;
  color: red;
}
